**/.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates

/**/bin/
/**/obj/
/**/Debug/
/**/Release/
/**/x64/
/**/x86/
/**/ARM/
/**/ARM64/

/**/packages/
*.nupkg
*.snupkg
.nuget/

*.g.cs
*.g.i.cs

TestResults/

publish/